body {
    background: #F5F5F1;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #0192B5;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
header {
    background: white;
}
nav {
    padding: 0 36px;
    &.branding {
        min-height: 80px;
        border-bottom: 1px solid #E1E3DF;
    }
    &.main {
        border-bottom: 1px solid #DCDCD9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        margin-bottom: 30px;
        a {
            display: inline-block;
            color: #777;
            font-size: 14px;
            line-height: 40px;
            border-bottom: 3px solid white;
            margin-right: 15px;
            &:hover {
                border-bottom-color: #F56400;
                text-decoration: none;
            }
        }
    }
    .logo {
        float: left;
        width: 75px;
        height: 0;
        padding-top: 78px;
        background: url(../images/logo.png) center no-repeat;
        overflow: hidden;
        margin: 2px 20px 0 0;
    }
    .search-form {
        position: relative;
        float: left;
        width: 35%;
        height: 100%;
        form {
            position: relative;
            height: 100%;
        }
        div {
            position: absolute;
            left: 0;
            right: 40px;
            height: 100%;
        }
        input {
            position: absolute;
            top: 50%;
            width: 100%;
            margin-top: -17px;
            border: 1px solid #CFCBC8;
            height: 20px;
            background: #fbfbfa;
            box-shadow: inset 0 1px 2px #E9E9E8;
            font-size: 14px;
            padding: 6px 10px;
            border-radius: 3px 0 0 3px;
            border-right: none;
        }
        button {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -17px;
            height: 34px;
            border: 1px solid black;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            background: #34A8C4;
            border: 1px solid #2F98B1;
            color: white;
            padding: 7px 15px 8px;
            border-radius: 0 3px 3px 0;
            &:hover {
                background-color: #3cb1cb;
            }
        }
    }
    .account-links {
        position: relative;
        float: right;
        height: 100%;
        line-height: 80px;
        padding-right: 10px;
        a {
            box-sizing: border-box;
            padding: 8px;
            font-size: 14px;
            &.sign-in {
                border: 1px solid;
                border-radius: 3px;
                margin-right: 18px;
                &:hover {
                    background: #F0FBFD;
                    text-decoration: none;
                }
            }
            &.cart {
                position: relative;
                top: 10px;
                color: #000;
                opacity: .6;
                font-size: 12px;
                background: url(../images/cart.png) center/22px no-repeat;
                padding-top: 50px;
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    right: 43px;
                    top: 22px;
                    bottom: 5px;
                    background-color: #eee;
                    width: 1px;
                }
                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }
}
main {
    position: relative;
    min-width: 417px;
    section {
        box-sizing: border-box;
    }
    .side-panel {
        float: left;
        width: 286px;
        padding: 0 18px 0 36px;
        h5 {
            font-size: 13px;
            margin: 0 0 10px;
        }
        ul {
            border-radius: 3px;
            background: white;
            border: 1px solid #E1E3DF;
            border-bottom-color: #CBCCC9;
            margin: 0 0 12px;
            padding: 12px;
            font-size: 13px;
            a {
                display: block;
                margin: 0 0 6px 12px;
                line-height: 18px;
            }
            a.cat {
                color: black;
                margin: 0 0 6px 0;
                font-weight: bold;
            }
        }
    }
    .main-content {
        overflow: auto;
        padding: 0 18px 0 6px;
        .results {
            * {
                box-sizing: border-box;
                transition: all 0.4s ease;
            }
            a {
                position: relative;
                display: block;
                border-radius: 3px;
                background-color: #FFF;
                border: 1px solid #E1E3DF;
                border-bottom-color: #CBCCC9;
                &:hover {
                    border-color: #ddd;
                    border-bottom-color: #bbb;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
                    text-decoration: none;
                }
            }
            li {
                float: left;
                width: 25%;
                padding: 9px 18px 9px 0;
            }
            .image {
                position: relative;
                img {
                    width: 100%;
                    opacity: 0;
                }
                span {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 3px 3px 0 0;
                }
            }
            .info {
                font-size: 12px;
                padding: 6px;
                .result-title {
                    display: block;
                    color: #444;
                    margin-bottom: 3px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .shop-name {
                    color: #9A9A9A;
                }
                .price {
                    color: #78c042;
                    float: right;
                }
            }
            .item {
                position: absolute;
                cursor: default;
                right: 3px;
                top: 4px;
                opacity: 0;
                .fav {
                    width: 26px;
                    background: white url(../images/heart.png) center/16px no-repeat;
                }
                .share {
                    position: relative;
                    width: 35px;
                    background: white url(../images/hamburger.png) 3px 50%/17px no-repeat;
                    &:after {
                        content: '';
                        position: absolute;
                        right: 3px;
                        top: 50%;
                        margin-top: -3px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 4px 0 4px;
                        border-color: #cbc9c7 transparent transparent transparent;
                    }
                }
                span {
                    float: left;
                    display: block;
                    cursor: pointer;
                    transition: none;
                    height: 25px;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 3px;
                    margin-right: 2px;
                    &:hover {
                        background-color: #f9f9f7;
                    }
                }
            }
            a:hover .item {
                opacity: 1;
            }
        }
        .results-info {
            padding: 0 18px 1px 0;
            font-size: 14px;
            .right {
                float: right;
                a {
                    text-decoration: none;
                }
                &:after {
                    content: ' \00a0▾';
                    position: relative;
                    top: -2px;
                    color: #CBCCC9;
                    font-size: 12px;
                }
            }
            .search-term {
                font-weight: bold;
                &:before {
                    content: ' \203A  ' open-quote;
                }
                &:after {
                    content: close-quote;
                }
            }
        }
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
footer {
    text-align: center;
    color: #999;
    font-size: 12px;
    padding: 22px 0 28px;
    * {
        padding: 0 7px;
    }
    a {
        color: #666;
    }
}
@media only screen and (max-width: 1030px) {
    main .main-content .results li {
        width: 33.333%;
    }
}
@media only screen and (max-width: 835px) {
    main .main-content .results li {
        width: 50%;
    }
}
@media only screen and (max-width: 640px) {
    nav.branding {
        overflow: auto;
    }
    nav.main {
        position: relative;
        z-index: 1;
        text-align: center;
    }
    nav .search-form {
        position: relative;
        top: 10px;
        width: 100%;
        &:after {
            content: '';
            display: block;
            height: 50px;
        }
    }
    nav .account-links {
        position: absolute;
        top: 0;
        right: 18px;
    }
    main .main-content {
        padding-left: 36px;
    }
    .side-panel {
        display: none;
    }
}
@media only screen and (max-width: 420px) {
    nav .logo {
        float: none;
        margin: auto;
    }
    .account-links {
        display: none;
    }
}
